@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: black;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

img {
  width: 300px;
}

.menuIcon:hover {
  color: yellow;
}

.modal-text {
  color: black;
}
