@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
  background-color: black;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

img {
  width: 300px;
}

.dropdown {
  position: relative;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.applications {
  margin-left: 20%;

} */
